.logo-text{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.btn-connect {
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: smaller;
    height: 24px;
}
  
.btn-connect button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 5px 3px 0px black;
    background-color: #1d9bef;
    font-size: smaller;
}

.btn-noconnect {
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: smaller;
    height: 24px;
}
  
.btn-noconnect button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 5px 3px 0px black;
    background-color: hsl(300, 5%, 21%);
    font-size: smaller;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text > .logo > span {
    margin-left: 15px;
}

.Header {
    background-color: #323232;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}